header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8.5dvh;
	padding: 10px;

	.logo {
		padding: 19px;
		cursor: pointer;
	}

	.icon {
		padding: 5px;
	}

	#searchbar {
		display: flex;
		align-items: center;
		justify-content: start;
		background-color: var(--gray);
		gap: 10px;
		border-radius: 50px;
		height: 100%;
		width: 30%;
		padding-inline: 8px;
		transition: all .3s;
		border: 1px solid var(--gray);

		&:hover,
		&:focus-within {
			border: 1px solid whitesmoke;
			background-color: var(--gray-elevated);

			svg {
				color: whitesmoke;
			}
		}

		input {
			font-size: 1.1rem;
			background-color: transparent;
			border: none;
			color: rgb(250, 250, 250);
			width: 100%;

			&:focus {
				outline: none;
			}
		}

		svg {
			display: flex;
			align-items: center;
			background: none;
			border: none;
			color: rgb(148, 148, 148);
			height: 40px;
			width: auto;
		}
	}
}

#photo {
	border-radius: 50%;
	height: 100%;
	border: solid var(--gray) 7px;
	transition: all .3s;

	&:hover {
		border: solid var(--gray) 1px;
		cursor: pointer;
	}
}